@import "./scss/lib.scss";

//RESET

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a {
  font-family: 'Gilroy', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


$clientsBorder: 1px solid #ffffff4f;


.btn {
  @include text__common;

  width: 220px;
  padding: 15px;
  color: $white;
  cursor: pointer;
  background-color: $blue_04;
  border: none;
  border-radius: 10px;
}

body {
  margin: auto;
  font-family: 'Gilroy', sans-serif;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.container {
  width: 69%;
  margin: auto;
}

// ------header----
.header {
  width: 87.78%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin: auto;
  padding: 40px 25px 0;

  &__menu-icon {
    display: flex;
  }

  @include media_query(mobile_large) {
    width: unset;
  }

}

// ------hero----
.hero {
  position: relative;
  color: $blue_01;
  background: linear-gradient(rgba(152, 195, 232, 0), rgba(152, 195, 232, .2)), url("images/hero-bg.png") no-repeat;
  //background-size: cover;
  background-position-x: 95%;
  background-position-y: -200%;

  @include media_query(tablet_large) {
    background: linear-gradient(rgba(152, 195, 232, 0), rgba(152, 195, 232, .2)) no-repeat;
    //  background-size: cover;
  }

  &-container {
    padding-top: 48px;
    padding-bottom: 190px;
  }

  &__title {
    @include text__title-large;

    max-width: 513px;
    margin-top: 40px;

    @include media_query(mobile_small) {
      font-size: 3em;
    }

  }

  &__description {
    @include text__common;

    max-width: 425px;
    margin-top: 32px;
    margin-right: 88px;
    margin-bottom: 71px;
    opacity: .6;
  }
}

// ------advantages----
.advantages {
  margin: 192px auto 0;
  color: $blue_01;


  &__title {
    @include text__title-medium;

    color: $blue_02;
    max-width: 360px;
    margin-bottom: -165px;

    @include media_query(tablet_small) {
      margin-bottom: 0;
    }

  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 212px;

    &-item {
      max-width: 380px;
      border-radius: 10px;
      box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    }

    &-inner-left {
      margin-right: 9.4%;
      margin-left: 8.5%;

      @include media_query(tablet_small) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @include media_query(tablet_small) {
      flex-direction: column;
    }

  }

  &-technology {
    margin-bottom: 100px;
  }

}

.card__content {
  display: flex;
  flex-direction: column;
  min-width: 284px;
  margin: 48px;

  @include media_query(tablet_large) {
    min-width: 200px;
  }

  @include media_query(mobile_large) {
    min-width: 150px;
  }


  &-title {
    @include text__title-small;

    margin-top: 56px;
  }

  &-description {
    @include text__common;

    margin-bottom: 32px;
    opacity: 0.6;
  }

  &-more {
    @include text__common-small;

    display: flex;
    margin-bottom: 48px;
    font-family: "Gilroy SemiBold";
    color: $blue_04;

    &::after {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 24px;
      content: '';
      background: url(images/arrow-left-icon.svg) center no-repeat;
    }
  }
}

.card-img {
  margin-top: 48px;

  &-technology {
    margin-top: -30px;
  }

  &-internet {
    margin-left: -52px;
  }

  &-digital {
    margin-left: -24px;
  }

  @include media_query(mobile_meduim) {
    max-width: 100%;

    &-internet {
      margin-left: -20px;
    }
  }
}

.services {
  width: 150px;
  height: 150px;
}


// ------clients----
.clients {
  padding-bottom: 160px;
  margin: 0;
  color: $white;
  background: $blue_04;
  border-top-left-radius: 200px;

  &-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 96px;
    margin: auto;
  }

  &__title {
    @include text__title-medium;

    width: 230px;
    margin-right: 97px;
    text-transform: capitalize;

    @include media_query(mobile_large) {
      padding-top: 50px;
    }

  }

  &__description {
    @include text__common;

    max-width: 540px;
    margin: 0;
    opacity: 0.6;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 111px auto 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 234px;
      height: 128px;
      font-size: 1.25em;
      font-weight: 600;
      line-height: 230%;
      letter-spacing: 0.02em;
      border-right: $clientsBorder;
    }

    &-more {
      text-transform: capitalize;
      fill-opacity: 0.2;
    }

    :nth-child(-n+4) {
      border-bottom: $clientsBorder;
    }

    :nth-child(4n) {
      border-right: none;
    }

    :last-child {
      z-index: 1;

      &::before {
        position: absolute;
        z-index: -1;
        display: block;
        width: 235px;
        height: 128px;
        content: "";
        background: $blue_01;
        opacity: 0.2;
      }
    }

    @include media_query(tablet_large) {
      &-item {
        border-right: $clientsBorder;
      }

      :nth-child(-n+4) {
        border-right: $clientsBorder;
      }

      :nth-child(-n+6) {
        border-bottom: $clientsBorder;
      }

      :nth-child(3n) {
        border-right: none;
      }
    }

    @include media_query(tablet_small) {
      &-item {
        border-right: none;
        border-bottom: $clientsBorder;
      }

      :nth-child(2n) {
        border-left: $clientsBorder;
      }

      :nth-child(-n+4) {
        border-right: none;
      }

      :nth-child(7) {
        border-bottom: none;
      }


      :last-child {
        border-bottom: none;
      }
    }

    @include media_query(mobile_large) {
      &-item {
        border: none;
      }

      :nth-child(n) {
        border: none;
        border-bottom: $clientsBorder;
      }

      :last-child {
        border-bottom: none;
      }
    }
  }
}


.footer {
  @include text__common;
  margin-top: -1px;
  color: $white;
  background: $blue_04;

  &-contactUs {
    background: none;
  }


  &-bg {
    width: 93%;
    background-color: $blue_02;
    border-top-right-radius: 200px;
    left: 0;

    @include media_query(mobile_large) {
      width: 100%;
    }
  }

  &-container {
    width: 66.6%;
  }

  &__up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 91.5%;
    padding-top: 91px;
    padding-bottom: 96px;
  }

  &__text {
    margin-right: 15px;
  }

  &__title {
    @include text__title-medium;

    max-width: 320px;
  }

  &__description {
    max-width: 465px;
    padding: 0;
    margin-top: 32px;
    opacity: .6;
  }

  &__line {
    position: absolute;
    width: 72%;
    height: 1px;
    left: 0;
    background: $white;
    opacity: 0.4;

    @include media_query(tablet_large) {
      width: 80%;
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    max-width: 78.7%;
    padding-top: 86px;

    @include media_query(tablet_large) {
      max-width: unset;
    }

    @include media_query(mobile_large) {
      flex-direction: column;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
  }

  &__link-list {
    font-size: 1.25em;
    line-height: 150%;
  }

  &__item {

    display: flex;
    max-width: 310px;
    margin-bottom: 16px;
    text-transform: capitalize;
    opacity: 1;

    &-point {
      margin-right: 16px;
      font-weight: 700;
    }

    &-contact {
      margin-bottom: 24px;
    }
  }

  &__list-name {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    font-weight: 600;

    @include media_query(mobile_large) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__logo {
    margin-right: 15px;
  }

  &__address {
    font-style: normal;
  }

  &__email {
    text-transform: lowercase;
  }

  &__design {
    padding: 40px 0 40px 0;
    margin: auto;
    opacity: .4;
  }
}


//        ---------------------------Contact Us------------------------

// ------banner----

.banner {
  width: 100%;
  margin-top: 41px;
  color: $white;
  background: url(images/banner.png) center no-repeat;
  background-size: cover;

  &-container {
    max-width: 780px;
    padding: 50px 0;
    margin: auto;
    text-align: center;
  }

  &__title {
    @include banner_title;
  }

  &__description {
    @include text__common-small;

    margin: 16px 0 0;
    opacity: .6;
  }
}

// ------feedback----
.feedback {
  &-container {
    display: flex;
    justify-content: space-between;
    margin: 57px auto 96px;
    color: $blue_01;
  }
}

.relations {
  &__img {
    margin: 69px auto 71px;
  }

  &__category {
    margin-top: 40px;
  }
}

.contact {
  &__item {
    &-text {
      display: flex;
      max-width: 300px;
      margin-bottom: 16px;
      opacity: 0.6;
      align-items: center;

      a {
        margin-left: 16px;
        color: $blue_01;
      }
    }


    &-name {
      @include text__title-small;

      margin-bottom: 24px;
      text-transform: uppercase;
      opacity: 1;
    }
  }
}

.form {
  width: 100%;
  max-width: 540px;
  border-radius: 10px;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);

  &-container {
    margin: 15px auto;
    max-width: 79.3%;
  }

  &__name {
    @include text__title-small;

    margin: 56px 0 41px;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto 32px;
    line-height: 187%;
    text-transform: capitalize;

    &-label {
      margin-bottom: 8px;
    }

    &-input {
      height: 72px;
      border: 1px solid rgba(53, 110, 173, 0.4);
      border-radius: 10px;

      &::placeholder {
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 36px;
        opacity: 0.2;
      }
    }

    &-message {
      height: 144px;
    }
  }

  &__button {
    margin: 72px auto 56px;

    &-btn {
      width: 100%;
      box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
      text-transform: uppercase;
    }
  }
}


.map__frame  {
  width: 100%;
  height: 480px;
  margin: auto;
  margin-bottom: 96px;

}